<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h3><i class="bi bi-person-plus"></i> Registro de Nuevo Miembro</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="miembroForm" (ngSubmit)="OnSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Ej. Juan">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" formControlName="apellido" class="form-control" placeholder="Ej. Pérez">
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input type="email" formControlName="correo" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Teléfono</label>
            <input type="tel" formControlName="telefono" class="form-control">
          </div>

        </div>

        <button type="submit" class="btn btn-success w-100 mt-3" [disabled]="!miembroForm.valid">
          Guardar Miembro
        </button>
      </form>
    </div>
  </div>
</div>