<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card shadow-lg border-0" style="width: 100%; max-width: 400px; background-color: #1a1d24;">
    <div class="card-body p-5">
      
      <div class="text-center mb-4">
        <h3 class="fw-bold text-white mb-2">Nueva Contraseña</h3>
        <p class="text-secondary small">Ingresa tu nueva contraseña para acceder al sistema.</p>
      </div>

      <div *ngIf="mensajeExito" class="alert alert-success py-2 text-center small" role="alert">
        {{ mensajeExito }} <br> Redirigiendo al login...
      </div>
      <div *ngIf="mensajeError" class="alert alert-danger py-2 text-center small" role="alert">
        {{ mensajeError }}
      </div>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" *ngIf="!mensajeExito">
        
        <div class="mb-3">
          <label class="form-label text-white-50">Nueva Contraseña</label>
          <input type="password" class="form-control bg-dark text-white border-secondary" 
                 formControlName="password" placeholder="••••••••">
          <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="text-danger mt-1" style="font-size: 0.75rem;">
            Mínimo 8 caracteres, una mayúscula, un número y un símbolo.
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label text-white-50">Confirmar Contraseña</label>
          <input type="password" class="form-control bg-dark text-white border-secondary" 
                 formControlName="confirmPassword" placeholder="••••••••">
          <div *ngIf="resetForm.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.touched" class="text-danger mt-1" style="font-size: 0.75rem;">
            ¡Las contraseñas no coinciden!
          </div>
        </div>

        <button type="submit" class="btn btn-warning w-100 fw-bold text-dark" [disabled]="resetForm.invalid || !token">
          Guardar Contraseña
        </button>

      </form>
    </div>
  </div>
</div>